click==8.1.3
colorama==0.4.5
Flask==2.2.2
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
nltk==3.7
regex==2022.9.11
six==1.16.0
tqdm==4.64.1
Werkzeug==2.2.2
click==8.1.3
colorama==0.4.5
Flask==2.2.2
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
mpmath==1.2.1
nltk==3.7
regex==2022.9.11

